@model Article

<div class="text-white m-image-wrapper">
    <h3>@Model.Name</h3>
    <p>Published: @Model.Author</p>
    <p>@Model.Date</p>
</div>
 
<p style="width:70%;margin-left:12%;">@Model.Text</p>